SUPABASE_DB_URL=postgresql://postgres.<PROJECT-REFERENCE>:<PASSWORD>@aws-0-<REGION>.pooler.supabase.com:5432/postgres
SUPABASE_DB_URL_READONLY=postgresql://<DB_ROLE>.<PROJECT-REFERENCE>:<PASSWORD>@aws-0-<REGION>.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://<PROJECT-REFERENCE>.supabase.co
SUPABASE_ANON_KEY=

OPENROUTER_API_KEY=

NEXT_PUBLIC_API_BASE_URL=
